.containerNav{
  background-color: rgb(92, 240, 23);
  height: 100px;
}
.imgLogo{
  margin-top: 5px;
  height: 70px;
}

.contenedor-cuentas {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .cuenta {
    flex-basis: calc(33.33% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
  }
  
  .botones-paginacion {
    margin-top: 10px;
    display: flex;
    gap: 10px;
  }
  
  .botones-paginacion button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
  }
  
  .botones-paginacion button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  